#body {
  margin: 0%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100vh;
  grid-template-areas: "menu strona";
}

#menu {
  grid-area: menu;
  background-color: rgb(46, 46, 46);
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 100px;
}

#strona {
  grid-area: strona;
  background-color: gray;
}
